.header-title {
  font-size: 48px;
  font-weight: bold;
}
.header-subtitle {
  font-style: italic;
  margin: 30px;
}

.header-btn {
  margin: 30px 10px 0;
}

.products-title {
  font-size: 36px;
}
div.product.card {
  width: 350px;
  margin: 30px 0 15px;
}

div.connect-row {
  margin-top: 30px;
}

.input {
  margin-bottom: 10px;
}
