body {
  margin: 0;
  padding: 0;
  font-family: system-ui, sans-serif;
  color: #000;
  /* width: 100%; */
  overflow-x: hidden;
}
.wrapper {
  min-height: 100%;
}

._container {
  max-width: 1400px;
  margin: 0 auto;
}

/*----------------header----------------------------*/
/*------------шапка---------------------------------*/
.header-container {
  background: #fbf9fa;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.header-menu {
  position: absolute;
  top: 0;
  right: 60px;
}
.menu-list {
  list-style: none;
  display: flex;
}
.menu-item {
  margin: 0px 80px 0px 0px;
}
.menu-item:last-child {
  margin: 0px;
}
.menu-link {
  font-size: 22px;
  color: #525151;
  text-decoration: none;
  font-weight: 300;
}
/*---------------header main------------------------*/
.header-img-block {
  min-width: 450px;
  height: 700px;
}
.header-img-block img {
  max-height: 100%;
}
.header-main-block {
  width: 800px;
  height: 700px;
  display: flex;
}
.main-block-content {
  max-width: 550px;
  margin: auto;
}
.main-block-text {
  font-size: 24px;
  color: #111111;
  font-weight: 300;
}
.main-block-text span {
  color: #e2ba7b;
}
.main-block-button {
  border: none;
  background: none;
  padding: 10px 40px;
  border-left: 2px solid#65aa44;
  border-right: 2px solid#65aa44;
}

/*-------------------------MAIN-------------------------------*/
/*------------------------COMPANIES-BLOCK---------------------*/
.companies-block {
  background: #f7f5f6;
  padding: 30px 0;
}

.title {
  border-left: 8px solid#65aa44;
  border-bottom: 2px solid#65aa44;
  font-size: 26px;
  font-weight: 500;
  padding: 0 10px 4px;
  letter-spacing: 1px;
}
.subtitle {
  color: #525151;
  font-weight: 300;
  padding-top: 18px;
}
.companies-section {
  display: flex;
  justify-content: space-between;
}
.section-item {
  width: 430px;
  color: #525151;
  font-weight: 300;
}
.item-title {
  margin: 24px 0;
  font-size: 28px;
  font-weight: 700;
  color: #65aa44;
}

/*---------------------OFFER-BLOCK-----------------------*/
.offer-block {
  padding: 30px 0;
}
.offer-section {
  padding: 18px 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.offer-item {
  display: flex;
  align-items: center;
}
.offer-item img {
  width: 50px;
  height: 41px;
}
.offer-name {
  font-weight: bold;
  margin-left: 40px;
}
/*------------------------Price-block-------------------------*/
.price-block {
  background: #f7f5f6;
  padding: 30px 0;
}

table {
  margin-top: 18px;
  border-collapse: collapse;
  background: white;
  border: 2px solid #e2ba7b;
}
th,
td {
  padding: 5px 30px;
  border: 2px solid #e2ba7b;
  text-align: center;
}
.bold {
  font-weight: bold;
}
/*----------------Benefits-block---------------------------*/
.benefits-block {
  padding: 30px 0;
}
.benefits-item {
  color: #525151;
  font-weight: 300;
}
.benefits-item::marker {
  color: #e2ba7b;
}
/*----------------News-block--------------------------------*/
.news-block {
  background: #f7f5f6;
  padding: 30px 0;
}
.news-section {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.news-item {
  align-items: center;
  width: 415px;
  height: 155px;
  box-shadow: 0 0 12px 0 rgb(141 140 141 / 70%);
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.news-image {
  width: 25%;
}
.news-image img {
  max-width: 100%;
  height: 160px;
}
.news-info {
  width: 73%;
}
.news-title {
  font-weight: bold;
  margin: 0;
}
.news-data {
  color: #525151;
  font-style: italic;
  margin: 0;
}
.news-text {
  color: #525151;
  margin: 0;
}
/*---------------------------FOOTER-----------------------*/
.footer {
  background: #ededed;
}
.footer-container {
  padding: 20px 0;
  width: 1460px;
  display: flex;
  margin: 0 auto;
}
.footer-item1 {
  display: flex;
  flex-direction: column;
  margin-left: 0px;
}
.footer-item {
  /* width: 300px; */
  display: flex;
  margin-left: 50px;
}
.item-content {
  display: flex;
}
.footer-title {
  width: 50%;
  font-size: 20px;
  font-weight: bold;
}
.block-icons {
  width: 50%;
}
.block-icons img {
  width: 40px;
  height: 32px;
  margin-top: 30px;
}
.item-info {
  width: 50%;
}
.item-address {
  color: #525151;
}
.item-contacts {
  color: #525151;
  margin-top: 15px;
}

/*-------------------------Media screen--------------------------*/
@media screen and (min-width: 769px) and (max-width: 991px) {
  .menu-list {
    text-align: center;
  }
  .menu-item {
    margin: 0 20px 0 0;
    max-width: 100px;
    flex-wrap: wrap;
  }
  .header-menu {
    right: 20px;
  }
  .companies-container,
  .price-container,
  .benefits-container,
  .news-container {
    max-width: 900px;
  }

  .news-section {
    margin-top: 0px;
    flex-direction: column;
  }
  .news-item {
    margin: 30px 4px 0px;
    width: auto;
  }
  th,
  td {
    padding: 0;
    border: 2px solid #e2ba7b;
    text-align: center;
  }
  .footer-container {
    flex-direction: column;
  }
  .footer-item1 {
    margin-left: 60px;
  }
  .item-content {
    width: 700px;
  }
  .block-icons {
    width: 150px;
    display: flex;
    justify-content: space-between;
  }
}
