body {
  font-family: 'Montserrat';
  color: #000000;
  width: 100%;
  overflow-x: hidden;
}
.wrapper {
  min-height: 100%;
}

._container {
  max-width: 1340px;
  margin: 0 auto;
}
/*header*/
.header-container {
  display: flex;
  height: 47px;
  align-items: center;
  position: relative;
}
.logo {
  height: 30px;
  width: 129px;
}
.header-menu {
  margin-left: 20px;
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu-item {
  margin: 0px 0px 0px 20px;
}
.menu-item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.menu-link {
  text-decoration: none;
  color: black;
}
.menu-link,
.learn-more-link,
.header-button:hover {
  cursor: pointer;
}
.header-button {
  position: absolute;
  right: 0;
  background: #01b6d4;
  color: white;
  border-radius: 10px;
  padding: 15px 58px;
  border: none;
}
/*header main block*/
.header-main {
  margin-top: 20px;
}
.main-block {
  position: absolute;
  width: 1113px;
  height: 678px;
  background: rgba(196, 196, 196, 0.68);
}
.main-block-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 80px 100px 0;
}
.main-block h1 {
  margin: 0;
  font-weight: 400;
  font-size: 288px;
  line-height: 280px;
  letter-spacing: -5px;
}
.main-subtitle {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #ffffff;
  width: 433px;
  height: 102px;
  margin: 20px 0;
}
.main-text {
  width: 320px;
  height: 81px;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 93px;
}
.cover-block {
  position: absolute;
  width: 624px;
  height: 416px;
  left: 766px;
  top: 170px;
}

.cover-block img {
  width: 100%;
  height: 100%;
}
/*main*/
.main-container {
  position: relative;
  top: 800px;
}
.cats-block-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}
.cat-info {
  margin-left: 70px;
  max-width: 450px;
}
.cat-image {
  width: 660px;
  height: 436px;
}
.cat-image img {
  width: 100%;
  height: 100%;
}
.cat-title {
  margin: 0;
  color: #079fd0;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  height: 92px;
}
.cat-text {
  height: 125px;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
}
.learn-more-link {
  width: 137px;
  height: 35px;
  font-weight: 500;
  font-size: 18px;
  line-height: 35px;
  color: #079fd0;
  text-decoration: none;
}
/*ebo*/
.ebo-title {
  margin: 0 auto;
  width: 643px;
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  color: #079fd0;
}
.ebo-menu {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.ebo-item:last-child {
  margin: 0;
}
.ebo-item img {
  width: 380px;
  height: 280px;
}
.ebo-description {
  width: 318px;
  height: 74px;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  color: #079fd0;
}
.ebo-text {
  width: 318px;
  height: 77px;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
/*footer*/
.footer {
  min-width: 100%;
  position: relative;
  top: 860px;
  background: rgba(196, 196, 196, 0.2);
}
.footer-container {
  height: 200px;
  display: flex;
  justify-content: space-between;
  padding: 50px 30px;
}
.footer-item {
  display: flex;
}
.footer-menus {
  margin-right: 80px;
}
.footer-menus:last-child {
  margin-right: 0px;
}
.footer-list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.list-item {
  margin-top: 20px;
}
.list-item:first-child {
  margin-top: 0px;
}
.footer-link {
  text-decoration: none;
  color: black;
}
