.tm-sidebar,
.tm-content-box {
  box-shadow: 0px 0px 12px 0px rgba(61, 55, 61, 0.7);
}

.tm-banner {
  background: #f2f2f2;
}

.tm-banner-inner {
  background: white;
}

.tm-nav-item-link:hover {
  color: white;
  background: #87cefa;
}

.section-title {
  font-weight: bold;
  color: #87cefa;
}

p :first-child,
p :last-child {
  color: #87cefa;
}

#main {
  display: flex;
}

.flex-item img {
  width: 700px;
}

.tm-box-bg-title:hover {
  color: white;
  background: #87cefa;
  font-weight: bold;
  transition: 5s;
}

section::before {
  content: '';
  border-left: 250px solid lightskyblue;
  border-bottom: 30px solid transparent;
  border-top: transparent;
}

.padding-medium li {
  list-style-type: none;
  margin: 0 20px 0;
}

.padding-medium ol {
  display: flex;
  justify-content: center;
}

.padding-medium a:visited {
  text-decoration: underline;
}

#our-work .tm-section-description {
  font-weight: bold;
}

.content h2 {
  font-weight: bold;
  font-size: 26px;
  margin-top: 10px;
}

#our-work .section-title + p,
.content p {
  font-weight: 200;
  font-style: italic;
}

.box-work {
  border: 4px rgb(221, 221, 221);
  background: rgb(255, 255, 255);
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.box-work .link {
  margin-top: auto;
}

#we-are h2 {
  text-transform: capitalize;
  text-align: center;
}

.carousel-item h2.tm-section-title {
  color: #dcdcdc;
  letter-spacing: 5px;
}

.submit-btn {
  background: white;
  color: #87cefa;
  border-radius: 0;
  border-color: #87cefa;
  padding: 8px 35px;
  float: right;
  font-weight: 200;
}

.submit-btn:hover {
  border-color: #87cefa;
  background: #87cefa;
  color: white;
}

.mandatory-field::after {
  content: '*';
  color: red;
  font-weight: bolder;
}

#main .flex-item h2.tm-section-title.section-title {
  margin-top: 50px;
}

@media print {
  .tm-sidebar,
  #about,
  #we-are,
  #our-work,
  #forms,
  #ideas,
  #forms,
  section::before {
    display: none;
  }
  #main.tm-content-box {
    flex-direction: column;
    text-align: center;
    margin-top: 0;
  }

  .padding-medium h2.tm-section-title {
    color: blue;
    font-weight: 200;
  }

  #main .flex-item h2.tm-section-title.section-title {
    margin-top: 0;
  }

  .padding-medium {
    margin: 0 auto;
    width: 1200px;
    max-width: 100%;
    padding: 0;
  }

  p :first-child,
  p :last-child {
    color: inherit;
  }

  p::first-letter {
    font-weight: 700;
  }

  .tm-banner {
    padding: 0;
  }
}
