body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
}
//шаблони
%title {
  color: #ffffffa3;
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}
//mixin
@mixin background-image($path) {
  width: 100%;
  max-width: 30%;
  max-height: 300px;
  background: $path;
  background-size: cover;
}

//header
.header {
  width: 100%;
  background: $background;
  background-position-x: center;
  background-size: cover;
  border-radius: 0 50% 50% 0;
  .header-container {
    width: 100%;
    .menu-list {
      margin:0;
      padding-top: 14px;
      list-style: none;
      display: flex;
      align-items: center;
      .menu-item {
        margin: 0px 0px 0px 20px; //відступ між li
        &:not(:last-child) {
          margin: 0px 20px 0px 0px; //щоб не було відступу в останнього елемента
        }
        .menu-link {
          color: $menucolor;
          text-decoration: none;
        }
      }
    }
    .header-main-block {
      padding: 170px 0px 200px 0px;
      margin: 0 auto;
      width: 750px;
      .main-block-title {
        @extend %title;
      }
      .block-button {
        text-align: center;
        .main-block-button {
          border: 1px solid #ffffff2e;
          color: #ffffff2e;
          padding: 15px 35px;
          background: none;
        }
      }
    }
  }
}

//page
.page {
  width: 100%;
}
//tours
.tours-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  .tours-title {
    @extend %title;
    margin: $marginTitle;
    color: black;
  }
  .tours-block {
    box-shadow: 0 0 12px 0 rgba(141, 140, 141, 0.7);
    height: 250px;
    margin: 0px 0px 40px;
    display: flex;
    justify-content: space-between;
    .tours-block-img1 {
      @include background-image($img1);
    }
    .tours-block-img2 {
      @include background-image($img2);
    }
    .tours-block-img3 {
      @include background-image($img3);
    }
    .tours-block-info {
      width: 100%;
      max-width: 70%;
      padding: 10px 20px;
      .section-title {
        @extend %title;
        color: $titlecolor;
        margin: 5px 0 0;
      }
      .section-text {
        margin-top: 0;
        color: $textcolor;
      }
    }
  }
}

//reviews
.reviews-container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  background: $reviewsBackground;
  .reviews-title {
    @extend %title;
    color: $reviewsColor;
    padding: 20px 0 0;
    margin: 10px;
  }
  .reviews-section {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    .reviews-item {
      background: $reviewsColor;
      display: flex;
      padding: 15px;
      margin-bottom: 5px;
      max-width: 30%;
      justify-content: space-between;
      align-items: center;
      .reviews-img {
        max-width: 33%;
        padding-top: 7px;
        & img {
          border-radius: 100%;
          max-width: 100%;
        }
      }
      .reviews-info {
        color: white;
        max-width: 60%;
        padding: 10px;
        .reviews-text {
          margin: 0;
          font-size: 14px;
        }
        .reviews-author {
          font-style: italic;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

//search tour
.search-container {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  background: $searchBackground;
  .search-title {
    @extend %title;
    padding-top: 30px;
    color: #ffffffa3;
  }
  .search-block {
    display: flex;
    justify-content: space-between;
    padding: 0 60px 20px;
    .search-input {
      border: none;
      border-bottom: 1px solid $searchColor;
      background-color: transparent;
      width: 120px;
      color: $searchColor;
      margin: 4px;
    }
  }
}

//footer
.footer {
  width: 100%;
  background: $footerBackground;
  margin-top: 20px;
  .footer-container {
    display: flex;
    .footer-item {
      max-width: 15%;
      margin: 10px 30px;
      &:first-child,
      &:last-child {
        max-width: 35%;
      }
      &:last-child {
        margin-left: 100px;
      }
      .item-title {
        color: $footertitle;
      }
      .bold-text {
        font-weight: bold;
      }
      .footer-input {
        width: 400px;
        border: none;
        padding: 6px;
      }
      .submit-btn {
        width: 412px;
        color: white;
        text-align: center;
        background: $btnBackground;
        border: none;
        padding: 6px;
        margin-top: 15px;
      }
      .footer-text {
        color: $footertitle;
      }
      .item-icons {
        & img {
          width: 50px;
          margin-right: 10px;
        }
      }
      .item-text {
        margin-top: 30px;
        color: $itemtext;
      }
      .footer-list {
        list-style: none;
        padding: 0 10px;
        margin: 0;
        .list-item {
          padding: 0;
          margin: 0;
          color: $listColor;
        }
      }
    }
  }
}
