$background: url('../img/0.jpg') no-repeat;
$menucolor: #ffffffa3;
$img1: url('../img/1.jpg') center no-repeat;
$img2: url('../img/2.jpg') center no-repeat;
$img3: url('../img/3.jpg') center no-repeat;
$titlecolor: #adb1bd;
$textcolor: #2f5b69;
$marginTitle: 0;
$reviewsColor: #aa8a97;
$reviewsBackground: #907380;
$searchBackground: #8c9eaa;
$searchColor: #345368;
$footerBackground: #265382;
$footertitle: #4088d2;
$listColor: #1e60ca;
$btnBackground: #090750;
$itemtext: #090750;
