$background: url('../img/4.jpg') no-repeat;
$menucolor: black;
$img1: url('../img/5.jpeg') center no-repeat;
$img2: url('../img/6.jpg') center no-repeat;
$img3: url('../img/7.jpg') center no-repeat;
$titlecolor: #a1a1a1;
$textcolor: #795c79;
$marginTitle: 12px 0 0;
$reviewsColor: #b78eb7;
$reviewsBackground: #907192;
$searchBackground: #a88dab;
$searchColor: #521f47;
$searchtitle: #521f47;
$footerBackground: #533a75;
$footertitle: #bd4fe7;
$listColor: #802fcf;
$btnBackground: #802fcf;
$itemtext: #460a5a;
