body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
}

.header .header-container .header-main-block .main-block-title,
.tours-container .tours-title,
.tours-container .tours-block .tours-block-info .section-title,
.reviews-container .reviews-title,
.search-container .search-title {
  color: #ffffffa3;
  font-size: 30px;
  text-align: center;
  font-weight: 100;
  letter-spacing: 1px;
}

.header {
  width: 100%;
  background: url('../img/0.jpg') no-repeat;
  background-position-x: center;
  background-size: cover;
  border-radius: 0 50% 50% 0;
}
.header .header-container {
  width: 100%;
}
.header .header-container .menu-list {
  margin: 0;
  padding-top: 14px;
  list-style: none;
  display: flex;
  align-items: center;
}
.header .header-container .menu-list .menu-item {
  margin: 0px 0px 0px 20px;
}
.header .header-container .menu-list .menu-item:not(:last-child) {
  margin: 0px 20px 0px 0px;
}
.header .header-container .menu-list .menu-item .menu-link {
  color: #ffffffa3;
  text-decoration: none;
}
.header .header-container .header-main-block {
  padding: 170px 0px 200px 0px;
  margin: 0 auto;
  width: 750px;
}
.header .header-container .header-main-block .block-button {
  text-align: center;
}
.header .header-container .header-main-block .block-button .main-block-button {
  border: 1px solid #ffffff2e;
  color: #ffffff2e;
  padding: 15px 35px;
  background: none;
}

.page {
  width: 100%;
}

.tours-container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.tours-container .tours-title {
  margin: 0;
  color: black;
}
.tours-container .tours-block {
  box-shadow: 0 0 12px 0 rgba(141, 140, 141, 0.7);
  height: 250px;
  margin: 0px 0px 40px;
  display: flex;
  justify-content: space-between;
}
.tours-container .tours-block .tours-block-img1 {
  width: 100%;
  max-width: 30%;
  max-height: 300px;
  background: url('../img/1.jpg') center no-repeat;
  background-size: cover;
}
.tours-container .tours-block .tours-block-img2 {
  width: 100%;
  max-width: 30%;
  max-height: 300px;
  background: url('../img/2.jpg') center no-repeat;
  background-size: cover;
}
.tours-container .tours-block .tours-block-img3 {
  width: 100%;
  max-width: 30%;
  max-height: 300px;
  background: url('../img/3.jpg') center no-repeat;
  background-size: cover;
}
.tours-container .tours-block .tours-block-info {
  width: 100%;
  max-width: 70%;
  padding: 10px 20px;
}
.tours-container .tours-block .tours-block-info .section-title {
  color: #adb1bd;
  margin: 5px 0 0;
}
.tours-container .tours-block .tours-block-info .section-text {
  margin-top: 0;
  color: #2f5b69;
}

.reviews-container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  background: #907380;
}
.reviews-container .reviews-title {
  color: #aa8a97;
  padding: 20px 0 0;
  margin: 10px;
}
.reviews-container .reviews-section {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.reviews-container .reviews-section .reviews-item {
  background: #aa8a97;
  display: flex;
  padding: 15px;
  margin-bottom: 5px;
  max-width: 30%;
  justify-content: space-between;
  align-items: center;
}
.reviews-container .reviews-section .reviews-item .reviews-img {
  max-width: 33%;
  padding-top: 7px;
}
.reviews-container .reviews-section .reviews-item .reviews-img img {
  border-radius: 100%;
  max-width: 100%;
}
.reviews-container .reviews-section .reviews-item .reviews-info {
  color: white;
  max-width: 60%;
  padding: 10px;
}
.reviews-container .reviews-section .reviews-item .reviews-info .reviews-text {
  margin: 0;
  font-size: 14px;
}
.reviews-container .reviews-section .reviews-item .reviews-info .reviews-author {
  font-style: italic;
  margin: 0;
  padding: 0;
}

.search-container {
  width: 100%;
  max-width: 820px;
  margin: 0 auto;
  background: #8c9eaa;
}
.search-container .search-title {
  padding-top: 30px;
  color: #ffffffa3;
}
.search-container .search-block {
  display: flex;
  justify-content: space-between;
  padding: 0 60px 20px;
}
.search-container .search-block .search-input {
  border: none;
  border-bottom: 1px solid #345368;
  background-color: transparent;
  width: 120px;
  color: #345368;
  margin: 4px;
}

.footer {
  width: 100%;
  background: #265382;
  margin-top: 20px;
}
.footer .footer-container {
  display: flex;
}
.footer .footer-container .footer-item {
  max-width: 15%;
  margin: 10px 30px;
}
.footer .footer-container .footer-item:first-child,
.footer .footer-container .footer-item:last-child {
  max-width: 35%;
}
.footer .footer-container .footer-item:last-child {
  margin-left: 100px;
}
.footer .footer-container .footer-item .item-title {
  color: #4088d2;
}
.footer .footer-container .footer-item .bold-text {
  font-weight: bold;
}
.footer .footer-container .footer-item .footer-input {
  width: 400px;
  border: none;
  padding: 6px;
}
.footer .footer-container .footer-item .submit-btn {
  width: 412px;
  color: white;
  text-align: center;
  background: #090750;
  border: none;
  padding: 6px;
  margin-top: 15px;
}
.footer .footer-container .footer-item .footer-text {
  color: #4088d2;
}
.footer .footer-container .footer-item .item-icons img {
  width: 50px;
  margin-right: 10px;
}
.footer .footer-container .footer-item .item-text {
  margin-top: 30px;
  color: #090750;
}
.footer .footer-container .footer-item .footer-list {
  list-style: none;
  padding: 0 10px;
  margin: 0;
}
.footer .footer-container .footer-item .footer-list .list-item {
  padding: 0;
  margin: 0;
  color: #1e60ca;
}

/*# sourceMappingURL=style1.css.map */
