h1 {
  text-align: center;
}

tr,
td {
  border: 1px solid rgb(78, 78, 78);
  width: 50px;
  height: 50px;
}

table {
  margin: 0 auto;
}

.btn-block {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 279px;
  margin: 0 auto;
}

button {
  padding: 7px 30px;
  background-color: rgb(161, 161, 161);
  color: black;
  font-size: 18px;
  border: 1px solid rgb(161, 161, 161);
}

button:hover {
  background-color: rgb(179, 177, 177);
  color: rgb(121, 121, 121);
}
