.container {
  width: 1400px;
  margin: 0 auto;
}
.input-block {
  width: 185px;
  margin: 0 auto;
  padding: 20px 0;
}
.input {
  padding: 6px 10px;
  border: 1px solid rgb(173, 173, 173);
  border-radius: 3px;
  color: rgb(173, 173, 173);
}
.set-of-buttons {
  display: flex;
  justify-content: space-between;
  width: 650px;
  margin: 0 auto;
}
.button {
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  background: rgb(249, 220, 117);
  padding: 5px 9px;
}
.block-big-btn {
  margin: 0 auto;
  width: 231px;
  padding-top: 90px;
}
.big-btn {
  border: 1px solid black;
  border-radius: 100%;
  padding: 90px 65px;
  color: black;
  background: rgb(120, 171, 230);
  font-size: 24px;
}
